<!DOCTYPE html>
<html>
<head>
    <title>Feedback Form</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fdform.css')}}">
    {% block addcss %} {% endblock %}
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><b>{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %} 
<body>
<form method="POST">
    <div class="container">
        <div class="header">
            <h1>Feedback on Subjects </h1>
        </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="subject">Roll Number:</label>
                <input type="text" id="subject" name="roll" required>
            </div>
            <div class="form-group">
                <label for="name">Email:</label>
                <input type="text" id="name" name="email" required>
            </div>
            <div class="form-group">
                <label for="subject1">Python:</label>
                <select id="subject1" name="python" required>
                    <option value="" disabled selected>Select a Performance</option>
                    <option value="Excelent">Excelent</option>
                    <option value="Good">Good</option>
                    <option value="Average">Average</option>
                    <option value="Poor">Poor</option>
                 </select>
            </div>
            <div class="form-group">
                <label for="subject1">Operating Systems:</label>
                <select id="subject1" name="os" required>
                    <option value="" disabled selected>Select a Performance</option>
                    <option value="Excelent">Excelent</option>
                    <option value="Good">Good</option>
                    <option value="Average">Average</option>
                    <option value="Poor">Poor</option>
                 </select>
            </div>
            <div class="form-group">
                <label for="subject1">Data structures:</label>
                <select id="subject1" name="ds" required>
                    <option value="" disabled selected>Select a Performance</option>
                    <option value="Excelent">Excelent</option>
                    <option value="Good">Good</option>
                    <option value="Average">Average</option>
                    <option value="Poor">Poor</option>
                 </select>
            </div>
            <div class="form-group">
                <label for="subject1">Mysql:</label>
                <select id="subject1" name="mysql" required>
                    <option value="" disabled selected>Select a Performance</option>
                    <option value="Excelent">Excelent</option>
                    <option value="Good">Good</option>
                    <option value="Average">Average</option>
                    <option value="Poor">Poor</option>
                 </select>
            </div>
            <div class="form-group">
                <label for="subject1">Flask Frame Work:</label>
                <select id="subject1" name="flask" required>
                    <option value="" disabled selected>Select a Performance</option>
                    <option value="Excelent">Excelent</option>
                    <option value="Good">Good</option>
                    <option value="Average">Average</option>
                    <option value="Poor">Poor</option>
                 </select>
            </div>

            <div class="form-group">
                <label for="feedback">Feedback:</label>
                <textarea id="feedback" name="feedback"></textarea>
            </div>
            <div class="form-group"> 
                <a href="#" class="button" name="submit">
                    <h3 class="button-text" >Submit-Feedback</h3>
                </a> 
            </div> 
        </form>
    </div>
    {% block content %} {% endblock %}
</form>
</body>
</html>
