<!DOCTYPE html>
<html>
<head>
    <title>Feedback Form Link</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fdform.css')}}">
    {% block addcss %} {% endblock %}
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><b>{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %} 
<body>
  <div class="container">
    <div class="header">
      <h1>Feedback form Auto expiration</h1>
    </div>
    <center>
      <form action="/submit" method="post">
        <div class="form-group">
          <label for="name"><h2>Feedback form life time</h2></label>
          <input type="number" id="number" name="time" required>
        </div>
      </form>    
      <a href="{{url_for('preview')}}" class="button">preview form</a>
      <a href="#" class="button">Submit</a>
    </center>
  </div> 
</body>
</html> 